name: Rust

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup
      run: rustup target add arm-unknown-linux-gnueabihf
    - name: Get version
      id: get_version
      run: |
        echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      shell: bash
    - name: Set version
      run: sed -i -E "1,/version/ s/version.+/version = \"[[ ${{ steps.get_version.outputs.VERSION }} =~ ([0-9]+\.[0-9]+\.[0-9]+) ]] then ${BASH_REMATCH[1]} \"/g" Cargo.toml
      shell: bash
    - name: Build
      run: ./create-deb
      shell: bash
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v2
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}
      with:
        upload_url: ${{ steps.update_release.outputs.upload_url }}
        asset_path: ./bin/post_twitter_on_work${{ matrix.asset_name_suffix }}
        asset_name: fan-service-${{ steps.get_version.outputs.VERSION }}.deb
        asset_content_type: ${{ matrix.asset_content_type }}
